# Ignore everything


# Allow specific files or directories
!.gitignore
!<path-to-required-file-or-directory>

# Common global ignores
*.log
*.tmp
*.swp
*.bak
*.DS_Store
Thumbs.db
*.class
*.pyc
*.pyo
*.zip
__pycache__/
node_modules/
dist/
build/
.env
.idea/
.vscode/
.qodoc/ 
*.iml   
*.sublime-project
*./zip
.qodo
codegenerator.zip
figma-to-json-v0.1.0.zip
react-vite-figma-plugin-template-master.zip

